.atletas {
    display: grid;
    justify-content: space-between;

    .card-atleta {
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);

        img {
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }

        .card-body {
            padding: 16px;

            .informacoes-principais {
                text-align: center;

                p,
                i {
                    font-size: 12px;
                }
            }

            .informacoes-secundarias {
                font-size: 14px;
                color: var(--cinza-escuro);
                min-height: 71px;
            }

            .btn-primary {
                width: 100%;
                margin-top: 16px;
            }
        }
    }
}

@media (min-width: 1201px) {
    .atletas {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }
}


@media (min-width: 993px) and (max-width: 1200px) {
    .atletas {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }
}

@media screen and (max-width: 992px) and (min-width: 546px) {
    .atletas {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
}

@media screen and (max-width: 545px) {
    .atletas {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}