.header h5 {
    color: var(--texto);
    font-family: var(--fonte-texto);
}

.header p {
    font-family: var(--fonte-texto);
}

.header h1 {
    font-family: var(--fonte-titulo);
}

.header-home {
    background-image: url('/assets/img/fundo_header_home.png');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-parceiros {
    background-image: url('/assets/img/fundo_header_parceiros.png');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header img {
    z-index: 1;
}

.header .mask {
    z-index: 2;
}