.cadastro-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    label {
        font-size: 14px;
    }

    .grupo-cadastro {
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
    }

    .btn {
        max-width: 400px;
    }
}

.cadastro-container {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.cadastro-hero-img {
    max-width: 280px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

a[data-bs-toggle="collapse"] {
    font-size: 0.9rem;
    color: var(--azul);
    text-decoration: none;
    cursor: pointer;
}

.card-body {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
}

.input-wrapper .input-icon-end {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cinza-escuro);

    #grausCegueiraInfo .card {
        border: 1px solid var(--cinza-escuro);
        background-color: var(--cinza-claro);
        font-size: 14px;
        line-height: 1.5;
    }
}

.cadastro-title {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}

input::placeholder {
    color: var(--cinza-escuro);
    opacity: 1;
}

.input-group-text i {
    color: var(--cinza-escuro);
}

input[type="date i"],
input[type="date"]::-webkit-calendar-picker-indicator {

    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    position: relative;
    display: none;
    -webkit-appearance: none;
}

.cadastro-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px;
    min-height: calc(100vh - 80px);
}

.cadastro-form .form-label {
    font-weight: 500;
    display: block;
}

.form-section-title {
    font-size: 18px;
    display: inline-block;
    top: -12px;
    left: 15px;
}

.input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cinza-escuro);
    pointer-events: none;
}

.form-control.has-icon {
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cadastro-form .form-check {
    display: flex;
    align-items: center;
    gap: 6px;
}

.cadastro-text a {
    text-decoration: none;
    color: var(--azul);

    :hover {
        text-decoration: underline;
    }
}

.social-wrapper {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social hr {
    flex-grow: 0;
    border: none;
    border-top: 1px solid var(--cinza-escuro);
    height: 1px;
    width: 150px;
}

@media (max-width: 768px) {
    .cadastro-hero-img {
        width: 200px;
    }

    .form-section-title {
        font-size: 16px;
    }

    .cadastro-title {
        font-size: 24px;
    }
}