.cadastro-section {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 20px;
    min-height: calc(100vh - 80px);
}

.cadastro-container {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.cadastro-hero-img {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
}

a[data-bs-toggle="collapse"] {
    font-size: 0.9rem;
    color: #3B87B2;
    text-decoration: none;
    cursor: pointer;
}

.card-body {
    padding: 0.75rem 1rem;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}


.input-wrapper .input-icon-end {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: hsla(208, 7%, 46%, 0.995);

    #grausCegueiraInfo .card {
        border: 1px solid #ddd;
        background-color: #f8f9fa;
        /* cinza claro */
        font-size: 14px;
        line-height: 1.5;
    }

    #grausCegueiraInfo strong {
        color: #000;
    }

}

.cadastro-title {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

input::placeholder {
    color: #adb5bd;
    opacity: 1;
}

.input-group-text i {
    color: hsla(208, 7%, 46%, 0.995);
    ;
}

.cadastro-section {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 20px;
    min-height: calc(100vh - 80px);
}

.cadastro-form .form-label {
    font-weight: 500;
    display: block;
}

.form-section-title {
    font-size: 20px;
    color: #000;
    background-color: #fff;
    display: inline-block;
    top: -12px;
    left: 15px;
    ;
}

.input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    pointer-events: none;
}

.form-control.has-icon {
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-section-title {
    font-size: 18px;
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

.cadastro-form .form-check {
    display: flex;
    align-items: center;
    gap: 6px;
}

.cadastro-form .btn {
    font-size: 18px;
    padding: 10px 0;
}

.cadastro-text a {
    text-decoration: none;
    color: #3B87B2;
}

.social-wrapper {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    width: 100%;
}

.social hr {
    flex-grow: 0;
    border: none;
    border-top: 1px solid #000000;
    margin: 0;
    height: 1px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .cadastro-hero-img {
        width: 200px;
    }

    .form-section-title {
        font-size: 16px;
    }

    .cadastro-title {
        font-size: 24px;
    }
}