@import url('style.css');

.filtro_form {
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

    #alerta {
        width: max-content;
        margin: auto;
    }

.filtro_from_border {
    margin: 0 auto;
}

.label-pequena {
    font-size: 14px;
    color: var(--texto)
}