.card-img-top {
    width: auto;
    height: auto;
    max-width: 109px;
    max-height: 107px;
}

.inspacoes-maintitle {
    font-family: var(--fonte-titulo);
    color: var(--azul);
    letter-spacing: 25px;
}

.card-title {
    font-family: var(--fonte-titulo) !important;
    color: var(--vermelho) !important;
}

.tagline-clarion {
    font-family: var(--fonte-titulo);
    color: var(--azul);
    letter-spacing: 5px;
}

.titulo-secundario {
    font-family: var(--fonte-titulo);
}

.topico-icon {
    width: 48px;
    height: 48px;
}