/* Fundo branco apenas na seção de login */
.login-section {
    background-color: #fff;
    /* fundo branco */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* começa abaixo do header */
    padding: 60px 20px;
    min-height: calc(100vh - 80px);
    /* altura restante da tela após header */
}

.login-title {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}


/* Container do login */
.login-container {
    max-width: 400px;
    width: 100%;
}

.login-hero-img {
    width: 280px;
    /* ajuste para o tamanho que quiser */
    height: auto;
    /* mantém proporção */
}


/* Formulário */
.login-form {
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    /* aumenta a largura da caixa */
    padding: 40px 30px;
}

/* Wrapper com posição relativa */
.input-wrapper {
    position: relative;
}

.input-wrapper .input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(50%);
    color: #6c757d;
    pointer-events: none;
}


.form-control::placeholder {
    color: #adb5bd;
    opacity: 1;
}

.login-form .btn {
    font-size: 20px;
    /* tamanho do texto */
}

.login-text a {
    text-decoration: none;
    color: #3B87B2;
    padding: 30px;
    margin: 0px;
    padding-top: 0px;
}

.social {
    display: flex;
    width: 100%;
}

.social hr {
    flex-grow: 1;
    /* ocupa todo espaço */
    border: none;
    /* remove estilo padrão */
    border-top: 1px solid #1f1212;
    /* linha cinza */
    margin: 0;
    /* sem margem extra */
    height: 1px;
}


@media (max-width: 420px) {
    .login-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2;
        /* aproxima as linhas */
    }

    .login-text .cadastre-link {
        margin-top: 0;
        /* remove o espaço extra */
    }
}