.login-title {
    font-size: 24px;
    font-family: 'Anton', sans-serif;
}

.login-container {
    max-width: 400px;
    width: 100%;

    label {
        font-size: 14px;
    }
}

.login-hero-img {
    max-width: 280px;
    width: 100%;
    height: auto;
}

.login-form {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    max-width: 100%;
}

.input-wrapper {
    position: relative;
}

.input-wrapper .input-icon {
    position: absolute;
    right: 15px;
    top: 46%;
    transform: translateY(50%);
    color: var(--cinza-escuro);
    pointer-events: none;
}

.form-control::placeholder {
    color: var(--cinza-escuro);
    opacity: 1;
}

.login-text a {
    text-decoration: none;
    color: var(--azul);

    &:hover {
        text-decoration: underline;
    }
}

.social {
    display: flex;
    width: 100%;
}

.social hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid var(--cinza-escuro);
    margin: 0;
    height: 1px;
}


@media (max-width: 420px) {
    .login-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2;
    }
}