.profile-header {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.card-usuario,
.list-group-item {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius) !important;
    padding: 16px;
    flex: 1 1 calc(50% - 16px);
    min-width: 300px;
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--azul);
}

.custom-list-perfil {
    padding-left: 0;
}

.custom-list-perfil li {
    display: flex;
    align-items: center;
}

.custom-list-perfil li i {
    color: var(--azul);
    margin-right: 8px;
    font-size: 1.2em;
}

.diploma-icon {
    color: var(--azul);
    font-size: 1.2em;
}

.text-navy-primary {
    color: var(--azul) !important;
}

.bg-navy-primary {
    background-color: var(--azul) !important;
}

.btn-warning {
    background-color: var(--amarelo);
    border: none;
    width: 215px;
}

.btn-outline-danger {
    border-color: var(--vermelho);
    color: var(--vermelho);
    width: 215px;
}

.btn-outline-danger:hover {
    background-color: var(--vermelho);
    color: #fff;
}

.btn-outline-primary {
    border-color: var(--azul);
    color: var(--azul);
    width: 215px;
}

.btn-outline-primary:hover {
    background-color: var(--azul);
    color: #fff;
}

.list-group-item {
    border: var(--azul);
}

.sub-text {
    color: var(--azul);
    opacity: 0.7;
    display: block;
    margin-top: 2px;
}

.badge-custom {
    background-color: #fff;
    color: var(--azul);
    font-size: 0.75rem;
    border-radius: 20px;
    border: 1px solid var(--cinza-escuro);
}

.icone-conquistas {
    width: 50px;
    height: 50px;
    font-size: 24px
}

.info-perfil {
    display: flex;
    align-items: center;
}

@media (max-width: 1401px) {
    .perfil-infos {
        flex-direction: column;
        gap: 0.75rem;
        align-items: flex-start;
    }

    .perfil-botoes {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        justify-content: flex-start;
        gap: 0.75rem;
    }
}

@media (max-width: 767px) {
    .perfil-infos {
        order: 1;
    }

    .perfil-botoes {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        order: 2;
    }
}