.post-banner {
    filter: brightness(0.5);
}

.post-container {
    hr {
        max-width: 200px;
        opacity: 1;
        border-top: 3px solid var(--azul);
        margin: 8px 0;
    }

    .post-meta {
        font-size: 14px;
        color: var(--cinza-escuro);
        margin-bottom: 16px;
        font-weight: 500;
    }

    .post-content {
        font-size: 18px;
    }

    .btn span {
        font-size: 16px;
    }
}